.main {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border: 1.5px solid grey;
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0;
}
.left {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  justify-content: center;
}
